:root {
  --primary-color: #1A4B84;
  --chathams_blue: #1A4B84;
  --tamarillo: #991E14;
  --yellow_sea: #FEAD06;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
.nav-links a {
  color: #fff;
}
body {
  background: url("../img/BG\ \(1\).png");
  background-size: cover;
}

header h4 {
  font-size: 30px;
  letter-spacing: 0.36px;
  color: #191919;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--primary-color);
}

header p {
  font-size: 15px;
  letter-spacing: 0.24px;
  color: #191919;
}

.link {
  background-color: rgba(0, 0, 0, 0.09);
  font: normal normal medium 15px/20px Poppins;
  letter-spacing: 0.24px;
  height: 40px;
  padding: 10px 10px;

}

.link a {
  color: #055BA6;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}
body>.container {
  padding: 60px 15px 0;
}

.footer>.container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.footer-dark {
  background-color: var(--primary-color);
  color: #fff;
}

.toggle-currency {
  font-size: 20px;
}

footer {
  font: normal normal 600 12px/19px Oswald;
  letter-spacing: 0.24px;
  color: #FFFFFF;
}

.theme-switch {
  margin: 0 5px;
  padding: 10px;
  font-size: 0.5rem;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.theme-switch-chathams_blue {
  background-color: var(--chathams_blue);
}

.theme-switch-chathams_blue:hover {
box-shadow: 2px 2px 2px var(--chathams_blue);
}

.theme-switch-tamarillo {
  background-color: var(--tamarillo);
}

.theme-switch-tamarillo:hover {
box-shadow: 2px 2px 2px var(--tamarillo);
}

.theme-switch-yellow_sea {
  background-color: var(--yellow_sea);
}

.theme-switch-yellow_sea:hover {
box-shadow: 2px 2px 2px var(--yellow_sea);
}
